<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Job Application Tracker</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <style>
      #jobAccordion {
        width: 70%;
        margin: 0 auto;
      }
    </style>

    <script>
      window.onload = function() {
        let newJobForm = document.getElementById("newJobForm");
        newJobForm.addEventListener("submit", function(event) {
          event.preventDefault();
          $.ajax({
            type: "POST",
            url: "{{ url_for('addJob') }}",
            data: $("#newJobForm").serialize(),
            success: function(response) {
              if (response == "OK") {
                alert("Successfully added job");
                $("#jobAccordion").load(window.location.href + " #jobAccordion");
                $("#staticBackdrop").modal("hide");
              }
            }
          })
        });
	  }
    </script>
  </head>
  <body>

    {% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        </div>
      </div>
    </nav>
    {% endblock %}

    {% block content %}
    <div class="container">
      <div class="row ">
        <div class="col-md-4 mx-auto">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Add new job
          </button>
        </div>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Job Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="newJobForm" action="{{ url_for('addJob') }}" method="POST">
                  {{ newJobForm.csrf_token }}
                  
                  <div class="form-group">
                    {{ newJobForm.company.label }}
                    {{ newJobForm.company(class="form-control") }}
                  </div>

                  <div class="form-group col-md-3">
                    {{ newJobForm.role.label }}
                    {{ newJobForm.role(class="form-control") }}
                  </div>
                  <div class="form-group col-md-3">
                    {{ newJobForm.status.label }}
                    {{ newJobForm.status(class="form-control") }}
                  </div>
                  <div class="form-group col-md-3">
                    {{ newJobForm.location.label }}
                    {{ newJobForm.location(class="form-control") }}
                  </div>
                  <div class="form-group col-md-6">
                    {{ newJobForm.dateApplied.label }}
                    {{ newJobForm.dateApplied(class="form-control") }}
                  </div>
                  <div class="form-group col-md-6">
                    {{ newJobForm.dateReplied.label }}
                    {{ newJobForm.dateReplied(class="form-control") }}
                  </div>
                  <div class="form-group col">
                    {{ newJobForm.description.label }}
                    {{ newJobForm.description(class="form-control") }}
                  </div>
                  <div class="form-group">
                    {{ newJobForm.submit(class="btn btn-success") }}
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="jobAccordion">
        {% for job in jobs %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ job.info.company }}">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ job.info.company }}" aria-expanded="true" aria-controls="collapse{{ job.info.company }}">
                {{ job.info.company }}
              </button>
            </h2>
            <div id="collapse{{ job.info.company }}" class="accordion-collapse collapse" aria-labelledby="heading{{ job.info.company }}" data-bs-parent="#jobAccordion">
              <div class="accordion-body">
                <form action="{{ url_for('editJob') }}" method="POST">
                  {{ job.form.csrf_token }}
                  
                  <div class="form-group col-md-3">
                    {{ job.form.role.label }}
                    {{ job.form.role(class="form-control") }}
                  </div>
                  <div class="form-group col-md-3">
                    {{ job.form.status.label }}
                    {{ job.form.status(class="form-control") }}
                  </div>
                  <div class="form-group col-md-3">
                    {{ job.form.location.label }}
                    {{ job.form.location(class="form-control") }}
                  </div>
                  <div class="form-group col-md-6">
                    {{ job.form.dateApplied.label }}
                    {{ job.form.dateApplied(class="form-control") }}
                  </div>
                  <div class="form-group col-md-6">
                    {{ job.form.dateReplied.label }}
                    {{ job.form.dateReplied(class="form-control") }}
                  </div>
                  <div class="form-group col">
                    {{ job.form.description.label }}
                    {{ job.form.description(class="form-control") }}
                  </div>
                  <div class="form-group">
                    {{ job.form.submit(class="btn btn-success") }}
                  </div>
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endblock %}
    <!-- Placed at the end of the document so the pages load faster -->
    <script   src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
